html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    touch-action: manipulation;
}

#main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    background-color: rgb(67, 86, 78);
    padding: 1.5rem 0;
    margin: 0;
    text-transform: uppercase;
    width: 100%
}

h2 {
    font-size: 1.8rem; 
    text-transform: uppercase;
    margin-bottom: 0;
}

.columns {
    display: -webkit-flex;
    display: flex;
}

.bold {
    font-weight: bold;
}

.today {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: rgb(67, 86, 78);
    background-color: rgba(67, 86, 78, 0.2);
}

.today--flavour-breakdown {
    width: 100%;
    text-align: center;
    width: 18rem;
    padding-bottom: 0.5rem;
}

.today--flavour-breakdown .columns { 
    justify-content: space-between;
    -webkit-justify-content: space-between;
    line-height: 0.5rem;
}

.today--flavour-breakdown .columns p { 
    width: 5rem;
}

.today--portions {
    width: 8rem;
    display: flex;
    text-align: left;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 0.85rem;
    line-height: 0.85rem;
}

.now {
    width: 20rem;
    width: 55%;
    color: rgb(67, 86, 78);
}

.now--flavour {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.now--quantity {
    margin-bottom: 0.5rem;
}

input {
    display: none;
}

label {
    display: inline-block;
    padding: 1rem;
    border-radius: 2px;
    font-size: 1.1rem;
    border: 2px solid rgba(67, 86, 78, 0.1);
}

label:hover {
    border: 2px solid rgba(67, 86, 78, 0.01);
    background-color: rgba(67, 86, 78, 0.1);
}

input:checked+label {
    color: rgb(67, 86, 78);
    border: 2px solid rgba(67, 86, 78, 0.02);
    background-color: rgba(67, 86, 78, 0.2);
}

.now--flavour label {
    width: 4rem;
}

.now--quantity label {
    width: 2rem;
}

.highcharts-credits {
    display: none;
}

button {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 2px;
    font-size: 0.9rem;
    border: 0;
    outline: none;
    color: white;
    background-color: rgba(67, 86, 78, 0.9);
}
button:active {
    background-color: rgba(67, 86, 78, 1);
}
button:disabled {
    opacity: 0.3;
}
