html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    touch-action: manipulation;
}

#main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(67, 86, 78);
    padding: 1.5rem 0;
    margin: 0;
    text-transform: uppercase;
    width: 100%
}

h2 {
    font-size: 1.3rem; 
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.columns {
    display: -webkit-flex;
    display: flex;
}

.bold {
    font-weight: bold;
}

.hidden {
    opacity: 0;
    display: none;
    height: 0;
}

.left {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: rgb(67, 86, 78);
    background-color: rgba(67, 86, 78, 0.2);
}

.right {
    width: 20rem;
    width: 60%;
    color: rgb(67, 86, 78);
}

.right .columns {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.today--flavour-breakdown {
    width: 8rem;
    padding-bottom: 0.5rem;
    text-align: right;
}

.today--flavour-breakdown div { 
    justify-content: space-between;
    -webkit-justify-content: space-between;
    line-height: 0.6rem;
}

.today--flavour-breakdown div p { 
    width: 4rem;
}

.today--flavour-breakdown .total {
    padding-bottom: 1rem;
}

.today--portions {
    width: 10rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.6rem;
}

.today--portions .columns {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    text-align: right;
}

.now--flavour {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.now--quantity {
    margin-bottom: 0.5rem;
}

input {
    display: none;
}

label {
    display: inline-block;
    padding: 1rem;
    border-radius: 2px;
    font-size: 1.1rem;
    background-color: white;
}

label:hover {
    background-color: rgba(67, 86, 78, 0.1);
}

input:checked+label {
    color: rgb(67, 86, 78);
    background-color: rgba(67, 86, 78, 0.2);
}

.now--flavour label {
    width: 4rem;
}

.now--quantity label {
    width: 2rem;
}

.highcharts-credits {
    opacity: 0;
    visibility: hidden;
}

#chart {
    margin-bottom: 1rem;
}

button {
    border-radius: 3px;
    border: 0;
    outline: none;
    color: white;
    background-color: rgba(67, 86, 78, 0.9);
}
button:active {
    background-color: rgba(67, 86, 78, 1);
}
button:disabled {
    opacity: 0.3;
}

.now button {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 0.9rem;
}

.today button {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}
